.chat {
  height: 100vh;
  width: 800px;
  background: var(--black) 0% 0% no-repeat padding-box;
  background: #000000 0% 0% no-repeat padding-box;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
  position: absolute;
  display: none;
  width: 100vh;
  left: 655px;
  z-index: 2;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.chatActive {
  display: flex;
}

.chat p {
  position: absolute;
  color: white;
  left: 300px;
  top: 150px;
  font-size: 40px;
}

.ptwo {
  margin-top: 90px;
}

.pthree {
  margin-top: 150px;
}

.pfour {
  margin-top: 210px;
}

.cdw {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 59px;
  left: 100px;
}

.cdwActive {
  opacity: 0.4;
}

.close {
  background: none;
  color: white;
  height: 40px;
  font-size: 60px;
  border: none;
  padding: 10px 16px;
  text-align: center;
  position: relative;
  left: 120px;
  top: 34px;
  cursor: pointer;
}

.filigran {
  border: 2px solid red;
  background: rgb(230, 230, 230);
  position: absolute;
  height: 100vh;
  left: 300px;
  width: 200px;
  display: flex;
}

.icons {
  display: flex;
  position: absolute;
  top: 650px;
  left: 280px;
}

.facebook {
  width: 40px;
  height: 40px;
  right: 20px;
  position: absolute;
}

.instagram {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 40px;
}

.twitter {
  width: 40px;
  height: 40px;
  left: 130px;
  position: absolute;
}

.youtube {
  width: 40px;
  height: 40px;
  left: 220px;
  position: absolute;
}